[Unit]
Description=MTProto Proxy Checker
After=network.target

[Service]
Type=simple
User=subuntu
WorkingDirectory=/home/subuntu/mtproxy
EnvironmentFile=/home/subuntu/mtproxy/.env
Environment=PYTHONUNBUFFERED=1
ExecStart=/home/subuntu/mtproxy/venv/bin/python app.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
